body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  font-weight: bold;
  padding: 16px;
  text-decoration: none;
}

.sidebar > #menuItem1 {
  -webkit-animation: menuAnimation 1s infinite alternate; /* Safari 4.0 - 8.0 */
  animation: menuAnimation 1s infinite alternate;
}

.sidebar > #menuItem2 {
  -webkit-animation: menuAnimation 1s infinite 2s alternate; /* Safari 4.0 - 8.0 */
  animation: menuAnimation 1s infinite 2s alternate;
}

.sidebar > #menuItem3 {
  -webkit-animation: menuAnimation 1s infinite 3s alternate; /* Safari 4.0 - 8.0 */
  animation: menuAnimation 1s infinite 3s alternate;
}

.sidebar a:hover {
  background-color: #555;
}

div.content {
  margin-left: 200px;
  height: 1000px;
  top: 0;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

div.content > #header {
  margin-left: 0px;
  padding: 0px;
  background-image: url(../img/background2.jpg);
  font-family: "Times New Roman", Times, serif;
  position: fixed; /* Set the navbar to fixed position */
  width: 100%; /* Full width */
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes menuAnimation {
  0% {
    color: red;
  }
  25% {
    color: green;
  }
  50% {
    color: blue;
  }
  75% {
    color: rgb(255, 0, 221);
  }
  100% {
    color: red;
  }
}

/* Standard syntax */
@keyframes menuAnimation {
  0% {
    color: red;
  }
  25% {
    color: green;
  }
  50% {
    color: blue;
  }
  75% {
    color: rgb(255, 0, 221);
  }
  100% {
    color: red;
  }
}
