.loginRegister {
  background-image: url("../img/background2.jpg");
  background-position: 100% 0;
  background-size: 50%;
  position: absolute;

  width: 300px;
  height: 300px;
}

.loginRegisterForm {
  top: 50%;
  left: 50%;

  width: 300px;
  height: 300px;

  background: gray;
  border-radius: 10px;

  margin: 1em;
  padding: 1em;
}

.loginRegisterForm > input {
  display: inline-block;
}

#maincontent {
  position: relative;
  left: 9%;
  width: 90%;
}

h1 {
  text-decoration: none;
  color: yellow;
}

#header {
  background-image: url(../img/background2.jpg);
  font-family: "Times New Roman", Times, serif;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

#header > a {
  position: relative;
  left: 50%;
}

#articlesContainer {
  margin-top: 13em;
  padding: 1em;
}

.article {
  margin-top: 2em;
  padding: 5px;
  background: lightblue;
  box-shadow: 0px 0px 15px black;
}

#commentaries {
  padding: 4px;
}

a,
a:visited {
  color: green;
  text-decoration: none;
}

button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 60px;
  cursor: pointer;
  padding: 5px 10px;
  overflow: hidden;
  border: 1px solid;
  font: normal 15px/1 "Acme", Helvetica, sans-serif;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #ffffff;
  -webkit-box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.8);
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

button:hover {
  color: yellow;
  -webkit-box-shadow: 3px 3px 0 0 yellow;
  box-shadow: 3px 3px 0 0 greenyellow;
  text-shadow: 1px 1px 1px greenyellow;
}

button:hover > a {
  color: yellow;
}

button:active {
  margin: 3px 0 0 3px;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.8);
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.8);
}

#commentary {
  padding: 1px;
  padding-left: 5px;
  background-color: rgb(184, 235, 252);
  margin: 9px;
}

#addcomment {
  padding: 1px;
  padding-left: 5px;
  margin: 9px;
}

#construction {
  color: yellow;
  padding: 30px;
  align-items: center;
}

#topnav {
  font-size: 20px;
  background-color: cyan;
}

#topnav > p {
  font-weight: bold;
  position: relative;
  -webkit-animation: myfirst 10s linear infinite alternate; /* Safari 4.0 - 8.0 */
  animation: myfirst 10s linear infinite alternate;
}

h1 {
  font-size: 5em;
  padding-left: 1em;
}

#menuleftcontent {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 10%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #cccccc; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 5%;
}

#bestviewed {
  color: black;
  padding: 30px;
}

#adminAccess {
  margin-top: 1.5em;
  padding: 60px;
}

#admin {
  padding: 30px;
  color: red;
  font-size: 25px;
  font-weight: bold;
}

#newArticle {
  border-radius: 10px;
  box-shadow: 0px 0px 15px black;
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 16em;
  background-color: rgb(183, 241, 255);
  padding: 1em;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes myfirst {
  0% {
    color: red;
    left: 25%;
    top: 0%;
  }
  25% {
    color: yellow;
    left: 50%;
    top: 0%;
  }
  50% {
    color: blue;
    left: 75%;
    top: 0%;
  }
  75% {
    color: green;
    left: 50%;
    top: 0%;
  }
  100% {
    color: red;
    left: 25%;
    top: 0%;
  }
}

/* Standard syntax */
@keyframes myfirst {
  0% {
    color: red;
    left: 25%;
    top: 0%;
  }
  25% {
    color: yellow;
    left: 50%;
    top: 0%;
  }
  50% {
    color: blue;
    left: 75%;
    top: 0%;
  }
  75% {
    color: green;
    left: 50%;
    top: 0%;
  }
  100% {
    color: red;
    left: 25%;
    top: 0%;
  }
}
