<!DOCTYPE html>
<html>
  <head>
    <title>SupBlog</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <script src="https://unpkg.com/vue"></script>
  </head>

  <body>
    <div id="page">
      <div id="maincontent">
        <div id="header">
          <a href="/index"><h1>SupBlog.com</h1></a>
          <div id="topnav" align="center">
            <a href="/admin/index">All</a>
            <a class="active" href="/admin/hiddenarticle">Pending</a>
            <a href="/admin/newarticle">New article</a>
          </div>
        </div>

        <div id="articlesContainer">
          <div v-for="article in articles">
            <div class="article">
              <h2>{{ article.title }}</h2>
              <p class="dateArticle">{{ article.date }}</p>
              <p>
                {{ article.content }}
              </p>
              <button><a :href="'/publish/' + article._id">Publish</a></button>
            </div>
          </div>
        </div>
      </div>

      <div id="menuleftcontent">
        <p id="admin">ADMIN</p>
        <ul id="menu">
          <li><a href="/logout">Log out</a></li>
        </ul>
        <hr />
        <div id="bestviewed">
          <p>best viewed in</p>
          <a href="http://toastytech.com/evil/"
            ><img src="/img/ie.gif" alt="best viewed in" width="90px"
          /></a>
        </div>
        <hr />
        <p style="padding-left:9px;">More features coming soon !</p>
        <div id="construction">
          <p style="font-weight:bold;">Under construction</p>
          <img
            src="/img/construction.gif"
            alt="under construction"
            width="90px"
          />
        </div>
        <a href="/admin/index"
          ><img src="/img/admin.png" alt="admin" width="20px" id="adminAccess"
        /></a>
      </div>
    </div>
  </body>
  <script src="https://unpkg.com/vue"></script>
  <script src="/vue/hidden_article.js"></script>
</html>
