<!DOCTYPE html>
<html>
  <head>
    <title>SupBlog</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <div id="page">
      <div id="maincontent">
        <div id="header">
          <a href="/index"><img src="/img/logo.gif"/></a>
          <div id="topnav">
            <p>The Best Blog Ever</p>
          </div>
        </div>

        <div id="articlesContainer">
          <div v-for="article in articles">
            <div class="article">
              <h2>{{ article.title }}</h2>
              <p class="dateArticle">{{ article.date }}</p>
              <p>
                {{ article.content }}
              </p>
              <div v-for="like in likes">
                <p v-if="article._id == like._id">{{ like.count }} Likes</p>
              </div>
              <button><a :href="'/like/' + article._id">Like</a></button>
              <div id="commentaries">
                <p style="font-size:20px;">Comments</p>
                <div v-for="comment in comments">
                  <div
                    v-if="article._id == comment.parentArticle"
                    id="commentary"
                  >
                    <p
                      v-if="comment.author == 'admin'"
                      class="username"
                      style="font-weight: bold; color: red"
                    >
                      {{ comment.author }}
                    </p>
                    <p v-else class="username" style="font-weight: bold;">
                      {{ comment.author }}
                    </p>
                    <p id="commentary_content">
                      {{ comment.body }}
                    </p>
                  </div>
                </div>
                <form action="/newComment" method="POST">
                  <input
                    type="text"
                    placeholder="Write your comment..."
                    id="addcomment"
                    name="content"
                  />
                  <button
                    type="submit"
                    name="button"
                    v-bind:value="article._id"
                  >
                    post
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="menuleftcontent">
        <ul id="menu">
          <li><a href="/login">Sign in</a></li>
          <li><a href="/register">Register</a></li>
          <li><a href="/logout">Log out</a></li>
        </ul>
        <hr />
        <div id="bestviewed">
          <p>best viewed in</p>
          <a href="http://toastytech.com/evil/"
            ><img src="/img/ie.gif" alt="best viewed in" width="90px"
          /></a>
        </div>
        <hr />
        <p style="padding-left:9px;">More features coming soon !</p>
        <div id="construction">
          <p style="font-weight:bold;">Under construction</p>
          <img
            src="/img/construction.gif"
            alt="under construction"
            width="90px"
          />
        </div>
      </div>
    </div>
  </body>
  <script src="https://unpkg.com/vue"></script>
  <script src="/vue/index.js"></script>
</html>
