<!DOCTYPE html>
<html>
  <head>
    <title>SupBlog</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src="https://unpkg.com/vue"></script>
  </head>

  <body>
    <div id="page">
      <div id="maincontent">
        <div id="header">
          <a href="/index"><h1>SupBlog.com</h1></a>
          <div id="topnav" align="center">
            <a href="/admin/index">All</a>
            <a href="/admin/hiddenarticle">Pending</a>
            <a href="/admin/newarticle">New article</a>
          </div>
        </div>

        <h2>Update article</h2>
        <hr>

        <div id="articlesContainer">
          <div v-for="article in articles">
            <div class="article">
                <form :action='"/admin/updatearticle/" + article._id' method="POST">
                  <p>Title</p>
                  <input name="articleTitle" :value='article.title'></input>
                  <p>Content</p>
                  <textarea name="content" rows="10" cols="150" :value='article.content'></textarea>
                  <br>
                  <button type="submit" style="background-color : green; border: none; color: white;" name="action" value="save">Save</button>
                  <button type="submit" style="background-color: blue; border: none; color: white;" name="action" value="publish">Publish</button>
                </form>
            </div>
          </div>
        </div>
      </div>

      <div id="menuleftcontent">
        <p id="admin">ADMIN</p>
        <ul id="menu">
          <li><a href="/logout">Log out</a></li>
        </ul>
        <hr />
        <div id="bestviewed">
          <p>best viewed in</p>
          <a href="http://toastytech.com/evil/"
            ><img src="/img/ie.gif" alt="best viewed in" width="90px"
          /></a>
        </div>
        <hr />
        <p style="padding-left:9px;">More features coming soon !</p>
        <div id="construction">
          <p style="font-weight:bold;">Under construction</p>
          <img
            src="/img/construction.gif"
            alt="under construction"
            width="90px"
          />
        </div>
        <a href="/admin/index"
          ><img src="/img/admin.png" alt="admin" width="20px" id="adminAccess"
        /></a>
      </div>
    </div>
  </body>
  <script src="https://unpkg.com/vue"></script>
  <script src="/vue/updatearticle.js"></script>
</html>
